@charset "utf-8";
/* CSS Document */
/* Main Div css */
h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	color:  #04314E;
	text-decoration: underline;
}

.main{
	
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
	display: flex;
	align-items: flex-start;
	
}
.aboutme{
	text-align:left;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px;
	font-style: oblique;
	text-decoration-color:#0B4A8C;
		
}
.education{
	text-align:left;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px;
	font-style: oblique;
	text-decoration-color:#0B4A8C;
		
}
.experience{
	text-align:left;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px;
	font-style:italic;
	text-decoration-color:#0B4A8C;
		
}
.body{
	
	background-image:url("../Images/backgroundimg.png");
	height:1600px;
	background-repeat: no-repeat;
}
.logo{
	
	width:150px;
}
.rightbar{
	float: right;
	display: flex;
	background-color:dimgrey;
	height:1600px;
	width:80px;
	list-style: none;

}

	/*
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}*/
header {
    width: 80%;
	height: 8%;
	float: right;
	}

    

nav
{
    width: 50%;
	text-align: right;
	margin-right: 15px;
	float: right;

}
header nav ul{
	
	list-style: none;
	float: right;
	
}
nav ul li{
	
	list-style: none;
	float: left;
	font-size: 20px;
	text-align: left;
	margin-right: 25px;
	
}
ul li a {
	color: #011357;
	text-decoration: none;
}
ul li:hover a{
	color:teal;
	
}
	
.footer
{
   
   background-color: black;
    opacity: 0.5;
    height:20px;
    width:0 auto;
   
    
  
}